<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3.2.4/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    firstname: <input type="text" v-model="firstname">
    <br>
    lastname: <input type="text" v-model="lastname">
    <br>
    fullname: {{ fullname }}
  </div>
</body>

</html>


<script lang='ts'>
  const app = Vue.createApp({
    // 数据
    data() {
      return {
        firstname: 'Jack',
        lastname: 'Sparrow'
      }
    },

    // 计算属性
    computed: {
      fullname() {
        return this.firstname + '-' + this.lastname
      }
    },

    // 方法
    methods: {

    },

  })

  app.mount('#app')
</script>